Makefile
autom4te.cache/
compile
config.h
config.log
config.status
eger/*
!eger/*.am
!eger/*.in
!eger/*.h
!eger/*.cc
libtool
stamp-h1
test-driver
tests/*
!tests/*.am
!tests/*.in
!tests/*.h
!tests/*.cc
